<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> show </title>
</head>

<body>

</body>
<h1>campground show!!!!</h1>

<h1>
    <%= campground.title %>
</h1>
<h2>
    <%= campground.location %>
</h2>

</html>