<h1>all campgrounds</h1>
<ul>
    <% for (let campground of campgrounds){%>
        <li><a href="/campgrounds/<%= campground._id %>">
                <%= campground.title %>
            </a></li>
        <% }%>

</ul>
<h2>hiiii</h2>